@import 'tailwindcss';

@theme {
  --color-crimson-50: #fef2f2;
  --color-crimson-100: #fee2e2;
  --color-crimson-200: #fecaca;
  --color-crimson-300: #fca5a5;
  --color-crimson-400: #f87171;
  --color-crimson-500: #ef4444;
  --color-crimson-600: #dc2626;
  --color-crimson-700: #b91c1c;
  --color-crimson-800: #991b1b;
  --color-crimson-900: #7f1d1d;
}
